<div id="<%= dom_id position %>">
  <p>
    <strong>Positionid:</strong>
    <%= position.PositionID_id %>
  </p>

  <p>
    <strong>Positionname:</strong>
    <%= position.PositionName %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= position.Salary %>
  </p>

</div>
